<!DOCTYPE html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Лента новостей</title>

    <!-- Custom styles -->
    <link href="css/styles.css" rel="stylesheet">
  </head>

  <body>
    <div class="news_tape_box" id="newsTapeBox"></div>

    <script src="js/libs/jquery/jquery.2.min.js"></script>    
    <script src="js/libs/underscore-min.js"></script>
    <script src="js/libs/backbone-min.js"></script>
    <script src="js/libs/backbone.localStorage-min.js"></script>

    <script type="text/template" id="newsModalTpl">
      <div class="modalwindow">
        <div class="close_btn" id="closeBtn">Закрыть</div>

        <div class="content_modal">
          <div class="title"><%= title %></div>
          <img class="poster" src="<%= poster %>" alt="">
          <div class="description"><%= description %></div>
        </div>
      </div>
    </script>

    <script type="text/template" id="newsUnitTpl">
      <div class="news_teaser_area">
        <div class="news_title"><%= title %></div>
        <div class="news_short_text"><%= description %></div>
      </div>

      <div class="news_teaser_img_area img-area" style="min-height: 92px; background: url(<%= poster %>) center center / cover no-repeat;"></div>
    </script>

    <script type="text/template" id="newsTapeTpl">
      <header class="header">
          <a class="logo_area" href="#" target="_blank">
            <img class="logo" src="//static.smi2.net/static/adpreview/mobile/images/logo.png" alt="">
          </a>

          <a class="day_news_area" href="#" target="_blank">
            <!-- <span class="day_news_label"></span> -->
            <input class="filter_title_field" id="filterTitleField" type="text">
          </a>
      </header>

      <div id="newsList" class="news_list"></div>
    </script>    

    <script>
      window.APP = window.APP || {};
    </script>

    <script src="js/project/config.js"></script> 

    <script src="js/project/models/models.js"></script> 
    <script src="js/project/views/newsTapeView.js"></script>     
    <script src="js/project/collections/collections.js"></script> 

    <script>
      var app = new APP.NewsTapeView({el: '#newsTapeBox'});
    </script>
  </body>
</html>
